<template>
<div  v-on:click="addWhislist(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">
  <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M15 26.6875L13.1875 25.0375C6.75 19.2 2.5 15.35 2.5 10.625C2.5 6.775 5.525 3.75 9.375 3.75C11.55 3.75 13.6375 4.7625 15 6.3625C16.3625 4.7625 18.45 3.75 20.625 3.75C24.475 3.75 27.5 6.775 27.5 10.625C27.5 15.35 23.25 19.2 16.8125 25.05L15 26.6875Z" :fill="color" :stroke="stroke"/>
  </svg>
</div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: ['catalog'],
data() {
  return {
    isActive: true,
    color: 'black',
    stroke: 'black'
  }
},
computed: {

 },
  mounted() {
    let search = this.catalog.id;
    let cityId = this.$store.state.order.wishlist.findIndex(city => city.id === search)
    if(cityId!=-1){
      this.color='#f20d0d'
      this.stroke='#f20d0d'
    }
  },

 watch: {
     sumCart: function() {
       let newValue1= this.$store.state.order.sum
       gsap.to(this.$data, { duration: 0.5, count: newValue1 });
     }
   },

methods:{
     addWhislist (id,category,title,price,count,src) {
        this.$ga.event('Buttons', 'AddToWishlist')
       let search = this.catalog.id;
       let cityId = this.$store.state.order.wishlist.findIndex(city => city.id === search)
       if(cityId!=-1){
        this.color='black'
        this.stroke='black'
       let todo=this.catalog.id
        this.$store.commit('order/removeWishlist', {todo})

       }else{
         this.color='#f20d0d'
         this.stroke='#f20d0d'
         this.$store.commit('order/addWishlist', {id,category,title,price,count,src})
       }

       event.target.value = ''

     },
   }


}
</script>
