<template>
  <div class="scrollButton ">
    <a href="#" v-scroll-to="'.top-menu'">
    <svg  class="topicon" width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="15" cy="15" r="14" :fill="fill" stroke="black" stroke-width="2"/>
    <path d="M23 15L21.59 13.59L16 19.17V7H14V19.17L8.42 13.58L7 15L15 23L23 15Z" fill="black"/>
    </svg>
    </a>
  </div>
</template>
<script>
export default {
  data() {
    return {
      fill: '#ffffff8f'
    }
  }
}
</script>

<style>
.scrollButton{
  z-index: 9999;
  position: fixed;
  bottom: 10px;
  right:  10px;
}
.topicon{
transform: rotate(180deg)
}
</style>
