<template>
<div>
  <svg width="20" height="39" viewBox="0 0 20 39" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_1573:707)">
  <path d="M19.634 38.1733L0.730519 19.2697L19.634 0.366152" stroke="#333333" stroke-width="1.5" stroke-miterlimit="10"/>
  </g>
  <defs>
  <clipPath id="clip0_1573:707">
  <rect width="20" height="38.5384" fill="white"/>
  </clipPath>
  </defs>
  </svg>

</div>
</template>
