<template>
  <div>

  <div v-bind:class="{ zoomWindow: zoom }" >

    <b-carousel
      id="myCarousel"
      ref="myCarousel"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      img-width="960"
      img-height="297"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <div class="rounded slider" >
      <b-carousel-slide v-if="imagesArray" v-for="(image,index) in imagesArray" :key="index">
      <template #img >
            <img
            itemprop="image"
            v-on:click="zooms()"
             v-bind:class="{ zoomImg: zoom }"
                  class="d-block rounded m-auto w-100 zoom-in"
                  v-bind:style="{ height: orientation}"
                  :src="image.src"
                  alt="image slot"
                >

              </template>
    </b-carousel-slide>


  </div>
  <CatalogZoom   v-bind:class="{ zoomFixed: zoom }" class="zoom pointer"  v-on:change="zooms($event)"  />

    </b-carousel>

  </div>
  </div>
</template>

<script>
  export default {
    props: ['images','originals'],
    data() {
      return {
        imagesArray:[],
        zoom: false,
        slide: 0,
        sliding: null,
        orientation: '',
        zoomImg: false
      }
    },
      beforeMount() {
        this.imagesArray=this.images
      },
    methods: {
          zoomBig(){
            if(document.documentElement.clientHeight>document.documentElement.clientWidth){
              this.orientation=this.value+'vw'
            }else{
              this.orientation=this.value+'vh'
            }
          },
      zooms: function(zoomchange) {
        this.zoomImg = !this.zoomImg;
        if(zoomchange!=null){
            this.zoom = zoomchange;
        }else{
            this.zoom = this.zoomImg;
            zoomchange = this.zoomImg;
        }


        if(zoomchange==true){
     if(document.documentElement.clientHeight>document.documentElement.clientWidth){
            this.orientation='100vw'
            this.bg='white';
          }else{
            this.orientation='100vh'
          }    /* */
//this.orientation='150vw'
          this.imagesArray=this.originals
          document.body.style = 'overflow: hidden;';
        }else{

          this.orientation=''
            this.imagesArray=this.images
          document.body.style = '';
        }

        // /    console.log(zoomchange)
            // some code to filter users
          },

      onSlideStart(slide) {
        this.sliding = true
      },

      onSlideEnd(slide) {
        this.sliding = false
      }
    },
    watch: {

        slide: function() {
          this.$emit('change', this.slide)
        }

      },


  }
</script>
<style>
.slider{
      overflow: hidden;
}
.zoomBig{
  width:150px !important;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 1022;
}
.zoom{

  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 7777;
}
.zoomFixed{

    position: fixed;
    margin-right: 20px;
}
.zoomImg{
    cursor: zoom-out !important;
  width: auto !important;
}
.zoom-in{
  cursor: zoom-in;
}

.zoomWindow{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    background: white;
}
@media (min-width: 768px){
.zoomWindow {
    background: #000000b8;
}
}
</style>
