<template>
  <div class="glav-slider">
<VueSlickCarousel v-bind="slickOptions">
     <div v-for="(image,index) in images" :key="index" class="">
       <NuxtLink :to="localePath(''+image.link)" class="text-white">
      <!--  <img  :src="image.src" />-->
      <div class="card-slider">
        <h3 class="slimline">{{image.description}}</h3>
        <h1  v-bind:class="{ 'display-3': isActive }" class="slimline">{{image.title}}</h1>
        <NuxtLink :to="localePath(''+image.link)" class="text-white dashed">СМОТРЕТЬ</NuxtLink>
      </div>
      <div class="filter-img"></div>
      <img  :src="image.src" class="w-100" />
</NuxtLink>
      </div>
    </VueSlickCarousel>
  </div>
</template>
<script>

export default {
  props: ['images','minimize'],
  data() {
    return {
isActive: true,
  colCount: 2,
      slickOptions: {
        autoplaySpeed: 2500,
        dots: true,
        centerPadding: "20px",
        slidesToScroll: 2,
        slidesToShow: 2,
  useCSS: true,
        arrows:true
      }
    }
  },
  mounted() {
    if (window.innerWidth <= 560) {
      this.slickOptions.slidesToShow = 1
      this.slickOptions.slidesToScroll= 1
        this.slickOptions.centerMode= false
  this.isActive=false
  //    console.log(  this.slickOptions.slidesToShow)
    }
  },
  async asyncData({ $axios, $config }) {
    const comments = await $axios.$get(`/comments`)
      const items=[{ text: 'home', href: '/'},{ text: 'review', active: true}]
  //  console.log(content)
    return { comments,items}
  },

  methods:{
    getCol(count) {
      this.colCount = count
    }
  }

}

</script>

<style>
.glav-slider{
  overflow: hidden;
}
.slick-list{

}
.carousel-wrapper {

/*  padding: 40px;*/
}



</style>
