<template>
  <div>



    <b-carousel
      id="myCarousel"
      ref="myCarousel"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      img-width="960"
      img-height="297"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <div class="rounded slider" >
      <b-carousel-slide v-for="image in images" :key="image.id">
      <template #img >
              <NuxtLink :to="localePath(''+image.link)" class=" ">     <img
                  class="d-block rounded  w-100"

                  :src="image.src"
                  alt="image slot"
                ></NuxtLink>
              </template>
    </b-carousel-slide>


  </div>


    </b-carousel>


  </div>
</template>

<script>
  export default {
    props: ['images','minimize'],
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {

      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    },
    watch: {
        slide: function() {
          this.$emit('change', this.slide)
        //  console.log(this.slide);
         // gsap.to(this.$data, { duration: 0.5, count: newValue1 });
        }
      },


  }
</script>
<style>
.slider{
      overflow: hidden;
}
</style>
