<template>
  <div>
    <b-modal
     id="modal-prevent-closing"
     centered
     hide-footer
     ref="modal"
     :title="$t('callback')"
     @show="resetModal"
     @hidden="resetModal"
   >
   <form>
     <div class="form-group row">
       <label for="inputName" class="pl-3  col-form-label">{{ $t('name') }}</label>
       <div class="col-12">
         <input type="text" name="name" v-model="name" class="form-control" id="inputName" >
       </div>
     </div>
     <div class="form-group row">
       <label for="inputPhone" class="pl-3 col-form-label">{{ $t('phonenumber') }} <span class="text-danger">*</span></label>
       <div class="col-12">
         <input type="text" name="phone" v-bind:class="{'is-invalid': invalid}" v-model="phone" v-mask="'#-###-###-##-##'" class="form-control" id="inputPhone" >
         <div v-if="invalid" class="invalid-feedback">
          {{ $t('errorPhone') }}
        </div>
       </div>
     </div>
       <button type="button"  class="btn btn-dark btn-lg w-100" @click="handleSubmit()">{{ $t('send') }}</button>
   </form>


   </b-modal>
 </div>
</template>
<script>
  export default {
    data() {
      return {
        name: '',
        phone: '',
          invalid: false,
      }
    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      resetModal() {
        this.name = ''
        this.phone = ''
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if(this.phone.length<15){
            this.invalid=true
          }else{
            var client={"name":this.name,"phone":this.phone}
            const mountains =   this.$axios.$post(`/call`,{client})

            // Hide the modal manually
            this.$nextTick(() => {
              this.$bvModal.hide('modal-prevent-closing')
            })
          }
        // Push the name to submitted names



      }
    }
  }
</script>
