<template>
<div class="hover_hover" >

  <div class="card_product" itemscope itemtype="http://schema.org/Product">

    <span itemprop="description" :content="$tc(catalog.category, 1)+' из натуральной кожи '+catalog.title+' всего за '+catalog.price+' руб'+ ' от Elborso'"></span>
        <div class="card anim shadow-none ">
          <div v-if="catalog.new" class="badge bg-danger text-light p-2 position-absolute m-2">{{ $t('new') }}</div>
          <div v-if="catalog.hit" class="badge bg-success text-light p-2 position-absolute m-2 right min-hit">{{ $t('best') }}</div>
          <NuxtLink :to="localePath(link)" >
            <figure>  <img :src="catalog.src" class="card-img-top figureImg" itemprop="image" :alt="catalog.key">
              <figcaption>
                <img :src="catalog.images[1].src" class="card-img-top" itemprop="image" :alt="catalog.key">
              </figcaption>
</figure>

            </NuxtLink>
<div class="d-md-block d-none">
<button  class="btn fast_btn" v-b-modal.modal-lg @click="fast_card(catalog.id)" >Быстрый просмотр</button>
</div>
             </div>
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
             <div  >
               <small v-if="catalog.availability" class="text-success">{{ $t('instock') }}<link itemprop="availability" href="http://schema.org/InStock"></small>
               <small v-else class="text-danger">{{ $t('outofstock') }}</small>
             </div>
             <div class="row">

<div class="col">

  <b><span itemprop="price">{{ catalog.price }}</span> ₽ </b>
  <span class="old-price" v-if="catalog.priceOld">{{ catalog.priceOld }} ₽ </span></br><meta itemprop="priceCurrency" content="RUB">

  <NuxtLink :to="localePath(link)" ><span itemprop="name"> {{ catalog.title }}</span></NuxtLink>
</div>
<div class="col-auto">
 <CatalogStar/> {{catalog.rating}} <NuxtLink :to="localePath(link)+'#review_card'"  class="dashed_b" >Отзывов ({{catalog.reviews}})</NuxtLink>

<div><small> {{ $t('article') }}: {{catalog.art}}</small></div>
</div>
             </div>
           </div>

<!--<small> {{ catalog.key.substr(0, 100)+'...' }}</small>-->

</div>
<div class="row_pay mt-3">
<div class="">
  <button  type="button" v-b-modal.modal-xl  class="btn btn-dark ml-3 mr-3" v-on:click="addTodo(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">{{ $t('inCart') }} </button>
<div class="card-favorite pt-1"><CatalogFavorite  :catalog="catalog" /></div>
</div>

</div>

             </div>


</template>
<script>
import { mapMutations } from 'vuex'
import {gsap} from "gsap"

export default {
props: ['catalog','link'],
data() {
  return {
     isActive: true,
    tweenedNumber: 0,
     number: 0,
     isButtonDisabled: true
  }
},
mounted() {

  if( this.$store.state.order.list[this.index]!=null){
     this.number = this.$store.state.order.list[this.index].count;
     if(this.number>0){
       this.isButtonDisabled=false
     }
  }
 },

 methods: {
      fast_card(id){
          this.$emit('fast',id)
      },
   addTodo (id,category,title,price,count,src) {
           this.$ga.event('Buttons', 'AddToCart')

         this.$fb.track('AddToCart', {
           currency: "RUB",
           value: price,
         contents: [
            {
              id: id,
              quantity: count
            }],
        })

     this.$store.commit('order/add', {id,category,title,price,count,src})
     event.target.value = ''
   },
   ...mapMutations({
     toggle: 'order/toggle'
   }),
   removeTodo (todo){
     this.$store.commit('order/remove', todo)
   }
 }
}
</script>
<style>
.card_shadow{


    border-radius: 10px;
    left: 0px;
    top: 0;
    height: 110%;
    width: 100%;

}
.card_product{
  border-radius: 16px 16px 0 0;


  padding: 5px;
}
.hover_hover:hover>.card_product{

  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
}
.row_pay{
  border-radius: 0 0 16px 16px;
z-index: 7;
position: absolute;
height: 60px;
width:100%;
}
.hover_hover{
  position: relative;
}
.hover_hover:hover .fast_btn{
    display: block;
}
.hover_hover:hover> .row_pay{
  display: block;
  background: white;
  -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;

}
.row_pay{
  display: none;
}
.row_pay button{
      float: left;
}
.row_pay::before{
  content: '';
position: absolute;
top: -20px;
left: 0;
right: 0;
height: 20px;
background-color: #fff;
}
.min-hit{
      right: 0;
  }

  </style>
