<template>
  <div>
<b-modal
@show="loa(),loadids()"
id="modal-lg"
size="xl"
hide-footer
>
<div @click="fastprev()"><caruselPrev   class="prev btn_fast"/></div>
<div @click="fastnext()"><caruselPrev class="next btn_fast"/></div>
<div v-if="isShow">
<div class="row mt-2">
<div  class="col-lg-1 col-sm-2   slider_privew_over" >

  <div  class=" slider_privew" :style="'transform: translate3d(0px, '+heightSlider+'px, 0px); transition: all .3s;'">
      <div  v-for="(image, index) in catalog.minimize" :key="index" class="pb-3  ">
      <img v-bind:class="{ active: isActive==index }" v-on:click="slideGo(index)"  :src="image.src"   :alt="'elborso,'+catalog.key" width="70px" class="rounded pointer" >
      </div>
  </div>

  </div>
  <div class="col-lg-5 col-sm-10 col-12 mb-5">



        <b-carousel
          id="myCarousel"
          ref="myCarousel"
          v-model="isActive"
          :interval="4000"
          controls
          indicators
          img-width="960"
          img-height="297"
          style="text-shadow: 1px 1px 2px #333;"
        >
          <!-- Text slides with image -->
          <div class="rounded slider" >
          <b-carousel-slide  v-for="(image,index) in catalog.images" :key="index">
          <template #img >
                <img
                itemprop="image"

                      class="d-block rounded m-auto w-100"

                      :src="image.src"
                      :alt="'elborso,'+catalog.key"
                    >

                  </template>
        </b-carousel-slide>
          </div>
  </b-carousel>

  </div>
  <div class="col-sm-12 col-lg-6">
  <h1 itemprop="name">{{ $tc(catalog.category, 1) }} {{catalog.title}} </h1>
  <div  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <span class="h3" itemprop="price" >{{catalog.price}}</span> <span class="h3"> ₽ </span><meta itemprop="priceCurrency" content="RUB"> <span v-if="catalog.priceOld" class="h4 old-price ml-5">{{catalog.priceOld}} ₽</span>
   <span v-if="catalog.new" class="badge bg-danger text-light m-2 p-2">{{ $t('new') }}</span>
   <span v-if="catalog.hit" class="badge bg-success text-light p-2 position-absolute m-2 ">{{ $t('best') }}</span>
   <div >
     <small v-if="catalog.availability" class="text-success"><link itemprop="availability" href="http://schema.org/InStock">{{ $t('instock') }},<span v-if="catalog.count<10"> на складе {{catalog.count}} шт.</span><span v-else> на складе более 10 шт.</span> </small>
     <small v-else class="text-danger">{{ $t('outofstock') }}</small>
     <div> {{ $t('article') }}:{{ catalog.art}} </div>
   </div>
  </div>



  <div >
     {{ $t('delivery') }}: {{catalog.dateDelivery.startday}}-{{catalog.dateDelivery.endday}} {{$tc('month.'+catalog.dateDelivery.month,2)}}<br/>
  <span class="text-success">{{ $t('freeshipping') }}</span> <span class="text-success sphere">{{ $t('payaftinspection') }}</span><br/>
    <NuxtLink :to="localePath('/deliveryandpay')"><small>{{ $t('shippingterms') }}</small></NuxtLink></br>
    <p>  {{ $t('bonuse') }}</p>


   </div>
  <div class="row mt-4">
  <div class="col-10">

    <button v-b-modal="'modal'" type="button"  v-b-modal.modal-xl class="btn btn-lg btn-dark w-100" v-on:click="addTodo(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">{{ $t('inCart') }} </button>
  <button v-b-modal="'modal'" type="button"  class="btn btn-lg  btn-secondary mt-3 w-100" v-on:click="buynow(catalog.id,catalog.category,catalog.title,catalog.price,1,catalog.src)">{{ $t('buynow') }} </button>

  </div>

  <div class="col-2">
  <span class="card-favorite"><CatalogFavorite :catalog="catalog" /></span>
  </div>
  </div>
  <div class="mt-2">
  {{$t('colorTitle')}}: {{$tc('color.'+catalog.characteristic.color,2)}}

  <div class="slider row container">
      <div  v-for="(image, index) in catalog.productColor" :key="index" class="slide_priview p-2" >



      <img @click="loa(image.id)" v-bind:class="{ active: image.id==idactive }"  :src="image.src" width="70px" class="rounded pointer" >


      </div>
  </div>

  </div>



  </div>


</div>
<div class="text-center">

  <NuxtLink  :to="localePath(`/catalog/${catalog.category}/${catalog.title.toLowerCase()}/${catalog.id}`)" class="btn btn-lg btn-dark-reverse">
  БОЛЬШЕ ИНФОРМАЦИИ О ТОВАРЕ
  </NuxtLink>


</div>
</div>
</b-modal>

</div>
</template>
<script>

export default {
    props: ['id','url'],
  data() {
    return {
      ids:[],
      idactive:1071,
      valueRating: 3.555,
      isComment: false,
      name:'',
      body:'',
      isActive: 0,
      width: 560,
      widthSlider:0,
      heightSlider: 0,
      isShow: false
    }
  },

    methods: {
      fastnext(){
          let arr=this.ids
          const index = arr.indexOf(this.idactive)
          let id =arr[index+1]


          if(arr.length-1==index){
            id=arr[0]
           }
          this.loa(id)
      },
      fastprev(){
          let arr=this.ids
          const index = arr.indexOf(this.idactive)
          let id =arr[index-1]

          if(index==0){
            id=arr[arr.length-1]
           }


          this.loa(id)
      },
    async    loadids(){
      //`/catalogids`
      const ids = await this.$axios.$get(this.url)
    this.ids=ids

    },
    async    loa(id=null){
      if(id==null){
        id=this.id
      }
    //  console.log(id)
          const catalog = await this.$axios.$get(`/catalog?id=`+id)
          this.idactive=id
          this.isActive= 0
          this.catalog=catalog
          this.isShow=true


          //   console.log('th')
      },



        previewActive(index){
          this.isActive=index;
        },
        slideGo(index){
          this.$refs.myCarousel.setSlide(index);
          this.isActive= index
       //   this.$refs.childComponentA.$refs.setSlide(index);
       //  this.$refs.childComponentA.$children.myCarousel.setSlide(index)
       //console.log(this.$refs.childComponentA.$refs.myCarousel.setSlide());
         // this.$refs.$children.myCarousel.setSlide(index)
        },
        addTodo (id,category,title,price,count,src) {
          this.$ga.event('Buttons', 'AddToCart')
          this.$fb.track('AddToCart', {
            currency: "RUB",
            value: price,
          contents: [
             {
               id: id,
               quantity: count
             }],
         })



          this.$store.commit('order/add', {id,category,title,price,count,src})
          event.target.value = ''
        },
        buynow(id,category,title,price,count,src) {
          this.$store.commit('order/add', {id,category,title,price,count,src})
          event.target.value = ''
         this.$router.push({ path: '/cart'})
        }
    },


}
</script>
<style>
.text-top{
    color: #949494;
}
.sphere::before {
      content: " • ";
}

.slider_priview{


  display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

}
.slider_privew_over{
    height: 650px !important;
    overflow: auto;

}

img.active{
border: solid 1px #f20d0d;
}
.pointer{
  cursor: pointer;
}
.colorFilter{
  width: 30px;
  height: 30px;
}
.colorFilter.active{
  transition:all 0.2s;
  width: 40px;
  height: 40px;
}
.b-rating{
  float:left;
      width: 150px;
  border: none !important;
}
.btn_fast{
  cursor: pointer;
  position: absolute;
    z-index: 999;
  background: #ffffffad;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  top: 300px;
}
.btn_fast:hover{
  background: white;
}
.prev{
    left: -80px;
}
.prev>svg{
  width: 15px;
  margin-left: 30%;
display: block;
margin-top: 10px;
}
.next>svg{
  width: 15px;
  -webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
  margin-left: 35%;
display: block;
margin-top: 10px;
}
.next{
  right: -80px;
}
</style>
