<template>
  <div class="bg-dark mt-5">
    <footer class=" container">
      <div class="row p-3">
        <div class="col-12 col-md-4">
          <small class="d-block text-white">© 2021 Elborso.ru {{ $t('right') }}</small>
      
        </div>

        <div class="col-12 col-md-6">

          <ul class="nav ">
            <NuxtLink :to="localePath('/about')" class="nav-link text-light "> {{ $t('about') }}</NuxtLink>
            <NuxtLink :to="localePath('/deliveryandpay')" class="nav-link text-light "> {{ $t('deliveryPay') }}</NuxtLink>
            <NuxtLink :to="localePath('/contacts')" class="nav-link text-light"> {{ $t('contacts') }}</NuxtLink>
            <NuxtLink :to="localePath('/reviews')" class="nav-link text-light"> {{ $t('review') }}</NuxtLink>
              <NuxtLink :to="localePath('/refundorexchange')" class="nav-link text-light"> {{ $t('Refundorexchange') }}</NuxtLink>
              <NuxtLink :to="localePath('/privacy')" class="nav-link text-light"> {{ $t('privacy') }}</NuxtLink>

        </ul>
        </div>
        <div class="col-12 col-md-2">
          <Social />
        </div>
      </div>
    </footer>
<span itemscope itemtype="http://schema.org/Organization">
  <span itemprop="name" content="Elborso"></span>
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress" content="Байкальская ул, дом № 40/17"></span>
    <span itemprop="postalCode" content="107207"></span>
    <span itemprop="addressLocality" content="Москва"></span>
  </span>
  <span itemprop="telephone" content="88007006226"></span>
  <span itemprop="email" content="elborso.ru@yandex.ru"></span>
</span>
    </div>
</template>
