<template>
<div class="bg-dark text-white bgmenu">
<div class="container">
<div class="row info_line">
  <div class="col-md-3 col-12"><small>{{ $t('shopofbags') }}</small></div>
  <div class="col">
    <infoSkin class="info-icon"/>
      <div><small>Натуральная <br/>кожа</small></div>

  </div>
  <div class="col">
    <infoHand class="info-icon"/>
      <div><small>Ручная <br/>работа</small></div>

</div>
  <div class="col">
    <infoGarant class="info-icon"/>
      <div><small>Гарантия <br/>качества</small></div>
    </div>
  <div class="col">
    <infoPay class="info-icon"/>
      <div><small>Оплата <br/>при получении</small></div>
    </div>
    <div class="col">
      <infoDeliver class="info-icon"/>
        <div><small>Бесплатная <br/>доставка</small></div>
      </div>
</div>

</div>
</div>

</template>
<style>
.info_line{
  padding: 5px 0px 5px 0px;
  line-height: 1.2;
}
.info-icon{
  margin-top: 5px;
    float: left;
    margin-right: 10px;
}
</style>
