<template>
<b-navbar  toggleable="lg" type="light" variant=""  >
  <div class="container ">

    <NuxtLink class="d-block d-md-none" to="/">
      <Logo :type="'mob'" /></br>

    </NuxtLink>
    <b-navbar-toggle target="nav-collapse" class="ml-auto"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav >
      <div class="nav nav-menu  rounded">
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/')" class="nav-link"> {{ $t('home') }}</NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/catalog')" class="nav-link"> {{ $t('catalog') }} </NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/catalog/zhenskie_sumki/')" class="nav-link"> {{ $tc('zhenskie_sumki',2) }} </NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/catalog/muzhskie_sumki/')"  class="nav-link"> {{ $tc('muzhskie_sumki',2) }}</NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/catalog/accessories/')" class="nav-link"> {{ $t('accessories') }} </NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/catalog/mebel/')" class="nav-link"> {{ $t('mebel') }} </NuxtLink>
        </li>
        <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/sale')" class="nav-link text-danger"> {{ $t('sale') }} </NuxtLink>
        </li>
       <li class="nav-item text-uppercase">
          <NuxtLink :to="localePath('/blog')" class="nav-link"> {{ $t('blog') }} </NuxtLink>
        </li><!---->
      </div>
    </b-collapse>

  </div>
</b-navbar>
</div>
</template>
<style>
.cart-price {
  margin-left: 10px;
}
.nav-menu{
  width: 100%;
  font-weight: 500;
}
.nav-item>.nuxt-link-exact-active{
  border-radius: 10px;
  color: black;
  transition:all 1s;
}
</style>
