<template>
      <div  class="container  bg-white mt-2">

<div class="row ">
<div class="col-sm-12 col-lg-8 col-12">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-sm-12 col-lg-4 text-center text-md-left">
      <NuxtLink class="d-none d-md-block" to="/">
        <Logo :type="'desk'" /><br/>

      </NuxtLink>
    </div>
      <div class="col-sm-12 col-12 col-lg-auto text-md-left">

           <a class="phone-top"  href="tel:88007006226" @click="Gphone"><span>8-800-700-6226</span></a></br>
          <a class="dashed_b" v-b-modal.modal-prevent-closing>{{ $t('callback') }}</a>




      </div>
      <div class="col-sm-12 col-lg col-12  p-lg-0">


        <div class="input-group search-block my-3" v-bind:class="{ 'search-block-focus': focused }">
          <input   @focus="focused = true" @blur="focused = false" type="search" class="form-control input-search form-control-lg" v-model="search" :placeholder="$t('search')" id="searchInput" aria-describedby="searchInput">

           <button class="btn btn-search" type="button" id="button-addon2"><MenuSearch /></button>
        </div>

        <div v-if="searchResult!=0"  class="dropdown-menu active" aria-labelledby="dropdownMenuButton" >
          <span v-on:click="searchResult=[],search=''"   v-for="(item,index) in searchResult" :key="index">
            <NuxtLink class="dropdown-item" :to="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`">
<img :src="item.src" class="d-block rounded float-left mr-2" alt="" width="50">
          <small>    {{item.title}} {{$tc('color.'+item.characteristic.color,2)}} {{item.id}}</small> </NuxtLink>
          </span>

        </div>
      </div>
    </div>
</div>
<div class="col-sm-12 col-lg-4 mt-lg-4">
    <div class="row" >
          <div class="col" >  <MenuFavorite /></div>
          <div class="col">  <MenuAcaunt /></div>
          <div class="col"><MenuCart /></div>
      </div>


</div>
</div>






<CallModal/>


</div>
</template>
<script>
export default {
  data() {
    return {
      focused: '',
        searchResult: [],
      search:'',
      searchDrop: false
    }
  },
  methods: {
    Gphone(){
      this.$ga.event('Buttons', 'ClickOnPhone')
      this.$fb.track('ClickOnPhone')
    }
  },
  watch: {
    search: function (val) {
        let a=val.trim()
      if(a.length>0){
  this.searchDrop=true
      const result =  this.$axios.$get(`/catalog?search=`+val.toLowerCase())
      .then(response => (this.searchResult = response));

  //  console.log(this.searchResult.length)
  }else{
    this.searchResult=0
  }
      //  const result =  this.$axios.$get(`/catalog?search=`+val.toUpperCase()).then(response => (this.searchResult = response));
      //    this.searchDrop=true
        //this.searchResult=result
    //  console.log(val)
    }
  }
}
</script>
<style>
.search-block{
      width: 80%;
      float: right;
      transition: all 0.3s;
}
.search-block-focus{
  width: 100% !important;
  float: right;
  transition: all 0.3s;
}

.dropdown-menu.active{
      display: block;
}
.input-search{
  border-right: none;
    border-radius: 25px 0px 0px 25px;
}
.btn-search {
    border-radius: 0px 25px 25px 0px !important;
    border: 1px solid #ced4da;
    border-left: none;
}
.phone-top{
  font-size: 24px;
  color: black;
}
.phone-top:hover{
  color: #3a3a3a;
  text-decoration: none;
}
</style>
