<template>
  <div class="row">
    <div class="col"><a target="_blank" href="https://vk.com/elborso_ru"><img src="/vk.png" width="20px" height="20px" ></a></div>
    <div  class="col"><a target="_blank" href="https://www.instagram.com/elborso.ru/"><img src="/inst.png" width="20px" height="20px" ></a></div>
    <div  class="col"><a target="_blank" href="https://www.youtube.com/channel/UCmvZrOWqCjn-7f9E_6v222g"><img src="/youtube.png" width="20px" height="20px" ></a></div>
  </div>
</template>
