<template>
  <div class="bg-dark text-white top-menu">
  <div class="container">
    <div class="row ">
        <div class="">
          <div class="row d-flex align-items-center ml-2 ">

            <img :src="'/'+langs+'.png'" width="20px" height="20px" >
      <b-dropdown :text="langs" variant="lang" class="py-0">

         <b-dropdown-item :to="switchLocalePath('ru')">RU</b-dropdown-item>
         <b-dropdown-item :to="switchLocalePath('en')">EN</b-dropdown-item>

    </b-dropdown>




        </div>
        </div>
<div class="col-md-8 col">
  <b-navbar  toggleable="lg" type="dark" variant="" class="p-0">
    <b-navbar-toggle target="top-collapse">
          <template #default="{ expanded }">
          <MenuInfo />
          </template>
        </b-navbar-toggle>
    <b-collapse id="top-collapse" is-nav>

  <NuxtLink :to="localePath('/about')" class="nav-link text-light "> {{ $t('about') }}</NuxtLink>
  <NuxtLink :to="localePath('/deliveryandpay')" class="nav-link text-light "> {{ $t('deliveryPay') }}</NuxtLink>
  <NuxtLink :to="localePath('/contacts')" class="nav-link text-light"> {{ $t('contacts') }}</NuxtLink>
  <NuxtLink :to="localePath('/reviews')" class="nav-link text-light"> {{ $t('review') }}</NuxtLink>
  <!--  <NuxtLink :to="localePath('/privacy')" class="nav-link text-light"> {{ $t('privacy') }}</NuxtLink>-->
    <NuxtLink :to="localePath('/refundorexchange')" class="nav-link text-light"> {{ $t('Refundorexchange') }}</NuxtLink>


  </b-collapse>
  </b-navbar>
</div>
<div class="mt-2 d-none d-md-block">
<Social />
</div>
        <div class="ml-auto mt-2">


<div class="work-date">{{ $t('daily') }} 9:00-22:00</div >
  </div>

    </div>
</div>
</div>
</template>
<script>
export default {
  data() {
    return {
    //  phone: '',
      lang: ''
    }
  },
  computed: {
    langs({$i18n}){
  //  return $i18n.localeProperties.code;
    //  this.lang = this.switchLocalePath().replace(/\//g, '');
    let lang = this.switchLocalePath().substr(0, 3);
    switch(lang) {
      case '/fi':
      return "fi";
      case '/en':
      return "en";
      case '/ua':
      return "ua";
      case '/es':
      return "es";
      default:
      return $i18n.localeProperties.code
    }
    }
  },
}
</script>

<style>
.work-date{
  font-size: 14px;
}
.city{
  margin-right:10px;
}
.btn-lang{
  color: white;
}
.btn-lang:hover{
  color: white;
}
</style>
