<template>
  <div class="container">
      <SocialHead
     :title="catalog.title"
     :description="catalog.description"
     :url="'/news/'+catalog.id"
   />
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><NuxtLink :to="`/`" >Главная</NuxtLink></li>
    <li class="breadcrumb-item" aria-current="page"><NuxtLink :to="`/blog`" > Блог</NuxtLink></li>
      <li class="breadcrumb-item" aria-current="page">{{ catalog.title}}</li>
  </ol>
</nav>

  <h1>{{ catalog.title}} </h1>
    <img class="w-100 rounded mb-5" :src="catalog.src" >
  <p v-html="catalog.text"></p>
  Дата: <span>{{catalog.date}}</span><br/>
  </div>
</template>

<script>

export default {

  async asyncData({params,$axios, $config }) {
 const catalog = await $axios.$get(`/blog?id=${params.id}`)

  console.log(catalog)
 return { catalog }

  },
  head() {
      // remember page is in function asyncData and it had a key title
      return {
        title:  this.catalog.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            hid: 'description',
            name: 'description',
            content: this.catalog.description
          }
        ]
      }
    }

}
</script>
