<template>
<div class="container mt-2">
  <nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item " aria-current="page"><NuxtLink :to="`/`" >Главная</NuxtLink></li>
  <li class="breadcrumb-item active" aria-current="page"> {{ $t('blog') }}</li>
</ol>
</nav>


    <div class="row">
    <div class="col-md-4 " v-for="(item, index) in catalog" :key="index"  >
      <NuxtLink :to="`/blog/${item.id}`" ><img class="w-100 card" :src="item.srcPreview" >
    <b class="pt-3">{{item.title}}</b>
     <p v-html="item.descript"></p>
   <div class="small">{{item.date}}</div></NuxtLink>
    </div>
  </div>
  </div>
</template>

<script>

export default {

  async asyncData({$axios, $config }) {
 const catalog = await $axios.$get(`/blog`)

  //console.log(catalog)
 return { catalog }

},
head() {
      return {
        title: this.$t('blog'),
        meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Блог интернет-магазина Elborso'
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'сумки, elborso, эльборсо, натуральная кожа, 100% кожа, интернет-магазин'
        }
      ]
   }
},

}
</script>
