<template>
  <div class="container mt-2">
    <SocialHead
       :title="'Интернет-магазин сумок и аксессуаров из кожи Elborso'"
       :description="'Всегда в наличие женские и мужские сумки из кожи, собственное производство'"
       :url="'/contacts'"
     />
    <b-breadcrumb>
      <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
        <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
        <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
      </li>
    </b-breadcrumb>

  <h1 class="mt-4"> {{ $t('contacts') }}</h1>
<Contacts />
<span class="row py-5" v-html="content.body[3].text"></span>



  </div>
</template>

<script>
export default {
  async asyncData({app ,$axios, $config }) {
  //  let lang = this.switchLocalePath().substr(0, 3);
    const items=[{ text: 'home', href: '/'},{ text: 'contacts', active: true}]
    const content = await $axios.$get(`/about?lang=`+app.i18n.localeProperties.code)
    //console.log(app.i18n.localeProperties.code )
    return { content,items}
  },
  head() {
        return {
          title: this.$t('contacts'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'У нас Интернет-магазин, Мы работаем по всей России!'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, elborso, эльборсо, натуральная кожа, 100% кожа, интернет-магазин'
          }
        ]
     }
  },
}
</script>

<style>

</style>
