<template>
  <div>
    <SocialHead
       :title="'Интернет-магазин сумок и аксессуаров из кожи Elborso'"
       :description="'Всегда в наличие женские и мужские сумки из кожи, собственное производство в Москве, Доставка по всей России.'"
       :image="content.banners[0].src"
       url="/"
     />
     <div class="">
       <div class="w-100">
         <CaruselSlider :images="content.carusel_new" />
       </div>
     </div>
  <div class="container mt-2 pt-2 ">


<div class="col-12 d-block d-md-none mt-5">
    <NuxtLink :to="localePath('/catalog')" class="btn btn-dark col-12">
  {{ $t('catalog') }}
        </NuxtLink>
</div>


<section class="mt-5">
   <div class="h3">{{ $t('bestseller') }} </div>
 <div class="row mt-3">

<div class="col-sm-3 col-6" v-for="(item,index) in content.hits" :key="index">
<Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`" :catalog="item" :index="content.hits.id" v-on:fast="fast_card($event)"/>
    </div>

    </div>
</section>

<section class="mt-5">
   <div class="h3">{{ $t('sale') }} </div>
 <div class="row mt-3">

<div class="col-sm-3 col-6" v-for="(item,index) in content.sale" :key="index">
<Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`"  :catalog="item" :index="content.hits.id" v-on:fast="fast_card($event)"/>
    </div>

    </div>
</section>
<!--<section class="mb-5">
  <CaruselBottom :images="content.carusel" />
</section>-->

 <Banners :images="content.banners" />


</div >




<FastCard :id="fast_id" :url="`/indexids`" />
  </div>
</template>

<script>

export default {
  async asyncData({ $axios, $config }) {
    const content = await $axios.$get(`/index`)

  //  const sale = await $axios.$get(`/catalog?ids=[`+content.sale+']')
  //  const hits = await $axios.$get(`/catalog?ids=[`+content.hits+']')
  //  console.log(sale)
    return {content}
  },

  data() {
    return {
        fast_id:1,
      width: 0
    }
  },
  methods: {

    fast_card($event){
      this.fast_id=$event
    }
    },


}
</script>
