<template>
  <div class="container mt-2">
    <b-breadcrumb>
      <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
        <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
        <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
      </li>
    </b-breadcrumb>

<h1 class="mt-4"><span class="orange">{{ $t('privacy') }}</span></h1>


<span class=" py-5" v-html="content.body[0].text"></span>
  </div>
</template>

<script>
export default {
  async asyncData({app,$axios, $config }) {
  //  let lang = this.switchLocalePath().substr(0, 3);
    const items=[{ text: 'home', href: '/'},{ text: 'about', active: true}]
    const content = await $axios.$get(`/privacy?lang=`+app.i18n.localeProperties.code)
    //console.log(app.i18n.localeProperties.code )+app.i18n.localeProperties.code
    return { content,items}
  },
  head() {
        return {
          title: this.$t('privacy'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Все статьи и фото размещенные на сайте являются интеллектуальной собственностью ресурса "ELBORSO". Использование таких объектов установлено действующим законодательством РФ.'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, elborso, эльборсо, натуральная кожа, 100% кожа, интернет-магазин'
          }
        ]
     }
  }

}
</script>

<style>

</style>
