<template>
  <div class="container mt-2">
    <SocialHead
       :title="'Интернет-магазин сумок и аксессуаров из кожи Elborso'"
       :description="'Всегда в наличие женские и мужские сумки из кожи, собственное производство'"
       :url="'/reviews'"
     />
    <b-breadcrumb>
      <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
        <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
        <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
      </li>
    </b-breadcrumb>

<h1 class="mt-4"><span class="orange">{{ $t('review') }}</span></h1>



<!--<div :class="'col-'+colCount"  v-for="(comment,index) in comments" :key="index">
<Comments :comment="comment" class=" pb-5" />


</div>
-->
<div class="carousel-wrapper">
<VueSlickCarousel v-bind="slickOptions">
      <div v-for="(comment,index) in comments" :key="index" class="img-wrapper">
        <img v-bind:class="{ opacity: isActive }" :src="comment.img" />
      </div>
    </VueSlickCarousel>
</div>



  </div>
</template>

<script>

export default {
  data() {
    return {
isActive: true,
      colCount: 4,
      slickOptions: {
        autoplaySpeed: 2500,
        dots: true,
        autoplay: true,
        slidesToShow: 3,
        centerMode: true,
  useCSS: true,
        arrows:true
      }
    }
  },
  mounted() {
    if (window.innerWidth <= 560) {
      this.slickOptions.slidesToShow = 1
        this.slickOptions.centerMode= false
        this.isActive =false
  //    console.log(  this.slickOptions.slidesToShow)
    }
  },
  async asyncData({ $axios, $config }) {
    const comments = await $axios.$get(`/comments`)
      const items=[{ text: 'home', href: '/'},{ text: 'review', active: true}]
  //  console.log(content)
    return { comments,items}
  },
  head() {
        return {
          title: this.$t('review'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Наш приоритет - это качество продукции! И мы всегда рады Вашим отзывам о нашей работе!'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, elborso, эльборсо, натуральная кожа, 100% кожа, интернет-магазин'
          }
        ]
     }
  },

  methods:{
    getCol(count) {
      this.colCount = count
    }
  }

}

</script>

<style>
.carousel-wrapper>*>.slick-list{
    height: 700px;
}
.carousel-wrapper {

  padding: 40px;
}
.opacity{
    opacity: 0.3;
}
.img-wrapper img {
    transition: all ease-in-out .3s;

  margin: auto;
  margin-top: 50px;
  height: 500px;
  background-image: linear-gradient(gray 100%, transparent 0);
}
.slick-center>*>*>img{
    opacity: 1;

      margin-top: 0px !important;
height: 650px;
}
</style>
