<template>
<div class="container mt-2" v-if="catalog">
  <SocialHead
     :title="'Интернет-магазин сумок и аксессуаров из кожи Elborso'"
     :description="'Всегда в наличие женские и мужские сумки из кожи, собственное производство'"
     :url="'/sale'"
   />

  <b-breadcrumb>
    <li v-for="(item, index) in items" :key="index" class="breadcrumb-item" v-bind:class="{ active: item.active }">
      <span v-if="item.active" aria-current="location">{{ $t(item.text) }}</span>
      <NuxtLink v-else :to="localePath(`${item.href}`)"> {{ $t(item.text) }}</NuxtLink>
    </li>
  </b-breadcrumb>
  <div class="text-right p-2">
    <span class="pointer mr-2" v-on:click="getCol(3)">
      <CatalogSix :active="colCount" />
    </span>
    <span class="pointer mr-2" v-on:click="getCol(4)">
      <CatalogFree :active="colCount" />
    </span>
    <span class="pointer mr-2" v-on:click="getCol(6)">
      <CatalogTwo :active="colCount" />
    </span>
    <span class="pointer mr-2" v-on:click="getCol(12)">
      <CatalogOnce :active="colCount" />
    </span>

  </div>
  <div class="row">

    <div class="col-12">
      <div class="row">
        <div  :class="'col-'+colCount" v-for="(item,index) in catalog" :key="index">
          <Card :link="`/catalog/${item.category}/${item.title.toLowerCase()}/${item.id}`" :catalog="item" />
        </div>


      </div>
    </div>

  </div>

<CatalogScroll/>
</div>
</template>
<script>
export default {
  data() {
    return {
      colCount: 3,
      page: 0,
      scrolEnd: null,
      end: false,
      loading: false,
      items: [{
          text: 'home',
          href: '/'
        },
        {
          text: 'catalog',
          active: true
        }
      ]

    }
  },
  async asyncData({
    params,
    $axios,
    $config
  }) {

 const catalog = await $axios.$get(`/catalog/&type=sale`)
 const items=[{ text: 'home', href: '/'},{ text: 'catalog', href: '/catalog'},{ text: 'sale', active: true}]

     return {catalog,items}

  },
  head() {
        return {
          title: this.$t('sale'),
          meta: [
          {
            hid: 'description',
            name: 'description',
            content: 'Акции интернет-магазина ELBORSO'
          },
          {
            hid: 'keywords',
            name: 'keywords',
            content: 'сумки, elborso, эльборсо, натуральная кожа, 100% кожа, интернет-магазин'
          }
        ]
     }
  },
  mounted() {
    if (window.innerWidth <= 560) {
      this.colCount = 6
    }
//    this.scroll();
  },

  methods: {
    scroll () {
    window.onscroll = () => {

      let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

      if (bottomOfWindow&&this.end!=true) {
        this.scrolEnd=true
        this.page++;
        this.$axios.$get(`/catalog/&page=`+this.page)
          .then(response => {

            //catalog.push(response)
            if(response!=null){
              const  array3= this.catalog.concat(response);
               this.catalog = array3;
              // console.log(catalog)
            }else{
              this.end=true
            }

          // catalog.push(response);
          }).finally(() => (this.scrolEnd = false));
      }
    };
  },
    sortCatalogPrice(){
      function compare(a, b) {
    // Use toUpperCase() to ignore character casing
    const bandA = a.price;
    const bandB = b.price;

    return bandA - bandB;
  }

    this.catalog.sort(compare);
    },
    getCol(count) {
      this.colCount = count
    },
  async  clear(){
    this.end=false
    const catalog = await this.$axios.$get(`/catalog/&page=0`)
      this.catalog=catalog
    },

  }

}
</script>
<style>
.pointer {
  cursor: pointer;
}

.colorFilter {
  width: 30px;
  height: 30px;
}

.colorFilter.active {
  transition: all 0.2s;
  width: 40px;
  height: 40px;
}
</style>
