<template>
<div class="container p-3 mb-5" >
  <h1>{{ $t('favorites') }}</h1>
  <div class="mb-5" v-for="(order,index) in orders" :key="index">
  <WishlistCard :order="order" :index="index" :id="order.id"/>
  </div>



  </div>
</template>
<script>
import {
  mapMutations
} from 'vuex'

export default {
  data() {
    return {
      counter: 1,
      name:'',
      phone: '',
      adress: '',
      selected: 'A',
      invalid: false,
        options: [
          { item: 'A', name: 'Наличными' },
          { item: 'B', name: 'Онлайн' }
        ]
    }
  },
  computed: {


    orders() {
      return this.$store.state.order.wishlist
    },

  },
    methods: {
    async post(){

    if(this.phone.length<15){
        this.invalid=true
      }
/*if(this.phone)
      var order = this.$store.state.order.list.filter(Boolean)
      var sum = this.$store.state.order.sum;
      var client={"name":this.name,"phone":this.phone,"adress":this.adress}
        const mountains = await  this.$axios.$post(`/order`,{ client: client, order,sum: sum})
        this.$store.state.order.list=[]
        this.$store.state.order.sum=0
        this.$router.push({ path: 'order/'+mountains})
*/
      }
    }
}
</script>
