<template>
  <div>
    <b-modal
     id="modal-prevent-login"
     centered
     hide-footer
     ref="modal"
     :title="$t('loginorregistration')"
     @show="resetModal"
     @hidden="resetModal"
   >
   <form v-if="!codinter" v-on:keyup.enter="handleSubmit()" v-on:submit.prevent >
        <label for="inputPhone" class="pl-3 col-form-label">{{ $t('phonenumber') }} <span class="text-danger">*</span></label>
     <div class="input-group p-3">
       <div class="input-group-prepend">
         <select class="custom-select border-0">
            <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
            </option>
          </select>
       </div>

         <input type="text" name="phone"  v-bind:class="{'is-invalid': invalid}" v-model="phone" placeholder="8-000-000-0000" v-mask="'#-###-###-####'" class="form-control " id="inputPhone" >
         <div v-if="invalid" class="invalid-feedback">
          {{ $t('errorPhone') }}
        </div>

     </div>

       <button type="button"  class="btn btn-dark btn-lg w-100"  @click="handleSubmit()">{{ $t('getcod') }}</button>
   </form>


   <form v-else v-on:keyup.enter="handleSubmitCod()" v-on:submit.prevent>
     <div class="form-group row">

       <label for="inputPhone" class="pl-3 col-form-label">{{ $t('cod') }}</label>
       <div class="col-12">
         <input type="text" name="cod"  v-bind:class="{'is-invalid': invalid}" v-model="cod" v-mask="'####'" class="form-control" id="inputCod" >
       </div>

     </div>
       <button type="button"  class="btn btn-dark btn-lg w-100" @click="handleSubmitCod()">{{ $t('sendcod') }}</button>
      <div class="text-center p-3"><a href="#" v-on:click="codinter=false">{{ $t('getcod') }} {{ $t('again') }}</a></div>
   </form>


   </b-modal>
 </div>
</template>
<script>
import { mapMutations } from 'vuex'
  export default {
    data() {
      return {
        name: '',
        cod:'',
        codinter: false,
        phone: '',
        invalid: false,
        selected: '7',
        options: [
         { text: 'ru', value: '7' }
       ]
      }

    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      resetModal() {
        this.name = ''
        this.phone = ''
      },
      handleSubmit() {
      //  console.log(this.phone.length)
        // Exit when the form isn't valid
      if(this.phone.length!=14){
            this.invalid=true
          }else{
            var phone =this.phone.replace(/[^\d]/g, '')
            var phonecod = phone.substring(1);
    //  console.log(phonecod)
            var client={"phone":this.selected+phonecod}
            const mountains =   this.$axios.$post(`/registration`,client)
            .then(response => {
            this.codinter=true
          })/**/
      }
    },
    handleSubmitCod() {
      var phone =this.phone.replace(/[^\d]/g, '')
      var phonecod = phone.substring(1);
//console.log(phonecod)
      var cod = {"cod": this.cod, "id": this.selected+phonecod}
   const mountains =   this.$axios.$post(`/authentication`,cod)
      .then(response => {
          this.codinter=false
          this.$store.commit('order/addToken', response)
          this.$emit('change', true)
          this.$router.push({ path: '/accaunt'})
          this.$nextTick(() => {
            this.$bvModal.hide('modal-prevent-login')
          })
      // catalog.push(response);
    })  /* */
  }
  }
}
</script>
