<template>
  <div class="text-center">
    <div  v-if="!auth">
<a  v-b-modal.modal-prevent-login style="display:block;">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.5C8.1 2.5 2.5 8.1 2.5 15C2.5 21.9 8.1 27.5 15 27.5C21.9 27.5 27.5 21.9 27.5 15C27.5 8.1 21.9 2.5 15 2.5ZM15 6.25C17.075 6.25 18.75 7.925 18.75 10C18.75 12.075 17.075 13.75 15 13.75C12.925 13.75 11.25 12.075 11.25 10C11.25 7.925 12.925 6.25 15 6.25ZM15 24C11.875 24 9.1125 22.4 7.5 19.975C7.5375 17.4875 12.5 16.125 15 16.125C17.4875 16.125 22.4625 17.4875 22.5 19.975C20.8875 22.4 18.125 24 15 24Z" fill="black"/>
</svg></a>

<b-dropdown :text="$t('accaunt')"  variant="default login pt-0 "  class="py-0">
<b-dropdown-item ><span v-b-modal.modal-prevent-login>{{$t('loginorregistration')}}</span></b-dropdown-item>

</b-dropdown>
</div>
 <!---->


<div v-else>
<NuxtLink to="/accaunt">
<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.5C8.1 2.5 2.5 8.1 2.5 15C2.5 21.9 8.1 27.5 15 27.5C21.9 27.5 27.5 21.9 27.5 15C27.5 8.1 21.9 2.5 15 2.5ZM15 6.25C17.075 6.25 18.75 7.925 18.75 10C18.75 12.075 17.075 13.75 15 13.75C12.925 13.75 11.25 12.075 11.25 10C11.25 7.925 12.925 6.25 15 6.25ZM15 24C11.875 24 9.1125 22.4 7.5 19.975C7.5375 17.4875 12.5 16.125 15 16.125C17.4875 16.125 22.4625 17.4875 22.5 19.975C20.8875 22.4 18.125 24 15 24Z" fill="black"/>
</svg>
</a>
</NuxtLink>
<b-dropdown :text="$t('accaunt')"  variant="default login pt-0"  class="py-0">
<b-dropdown-item :to="'/accaunt'">{{$t('accaunt')}}</b-dropdown-item>
  <li role="presentation"><a class="dropdown-item pointer" v-on:click="logout()">Выйти</a></li>

</b-dropdown>
</div>


<accauntLogin v-on:change="login($event)"/>

</div>
</template>
<script>
  export default {
    data() {
      return {
        auth: false
      }
    },
    mounted() {
         if(this.$store.state.order.token){
           this.auth=true
         }else{
            this.auth=false
         }
     },
     methods:{
       login($event){
         this.auth=$event
       },
       logout(){
         this.$router.push({ path: '/'})
         this.$store.commit('order/removeToken')
         this.auth=false
       }
     }

  }

</script>
<style>
.login{
  font-size: 80%;
font-weight: 400;
  }</style>
