<template>
  <div id="cart" class="text-center" >
  <NuxtLink to="/cart" style="display: inline-flex;"><div>
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.75 22.5C7.375 22.5 6.2625 23.625 6.2625 25C6.2625 26.375 7.375 27.5 8.75 27.5C10.125 27.5 11.25 26.375 11.25 25C11.25 23.625 10.125 22.5 8.75 22.5ZM1.25 2.5V5H3.75L8.25 14.4875L6.5625 17.55C6.3625 17.9 6.25 18.3125 6.25 18.75C6.25 20.125 7.375 21.25 8.75 21.25H23.75V18.75H9.275C9.1 18.75 8.9625 18.6125 8.9625 18.4375L9 18.2875L10.125 16.25H19.4375C20.375 16.25 21.2 15.7375 21.625 14.9625L26.1 6.85C26.2 6.675 26.25 6.4625 26.25 6.25C26.25 5.5625 25.6875 5 25 5H6.5125L5.3375 2.5H1.25ZM21.25 22.5C19.875 22.5 18.7625 23.625 18.7625 25C18.7625 26.375 19.875 27.5 21.25 27.5C22.625 27.5 23.75 26.375 23.75 25C23.75 23.625 22.625 22.5 21.25 22.5Z" fill="black"/>
    <circle cx="25" cy="7" r="5" fill="#F20D0D" v-bind:class="[{ 'circle-active': isActive }, 'circle']"/>
    </svg>
    <div>
<small>{{sumCart}}₽</small></div>
  </div>
  </NuxtLink>
</div>

</template>
<script>
import { mapMutations } from 'vuex'
//import {gsap} from "gsap"
export default {
data() {
  return {
    isActive: false,
    count: 0
  }
},
computed: {
   sumCart () {
     if(this.$store.state.order.sum>0){
       this.isActive=true
     }else{
        this.isActive=false
     }
     this.count=this.$store.state.order.sum
     return this.$store.state.order.sum
   }

 },

 watch: {
     sumCart: function() {
       return this.$store.state.order.sum
      // gsap.to(this.$data, { duration: 0.5, count: newValue1 });
     }
   },


}
</script>
<style>


.circle-active{
  fill:#F20D0D  !important;
}
.circle {
    fill: rgb(196 196 196);
}

</style>
