<template>
  <div class="text-center">
      <NuxtLink to="/wishlist" style="display: inline-flex;"><div>
  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M15 26.6875L13.1875 25.0375C6.75 19.2 2.5 15.35 2.5 10.625C2.5 6.775 5.525 3.75 9.375 3.75C11.55 3.75 13.6375 4.7625 15 6.3625C16.3625 4.7625 18.45 3.75 20.625 3.75C24.475 3.75 27.5 6.775 27.5 10.625C27.5 15.35 23.25 19.2 16.8125 25.05L15 26.6875Z" :fill="fill"/>
</svg>
  <div><small>{{$t('favorites')}}({{sumCart}})</small></div>
</div>
</NuxtLink>
</div>
</template>
<script>
import { mapMutations } from 'vuex'
import {gsap} from "gsap"
export default {
data() {
  return {
    fill: 'black',
    count: 0
  }
},
computed: {
  sumCart () {

         if(this.$store.state.order.wishlist.length>0){
           this.fill='#DB1010'
         }else{
           this.fill='black'
         }
         return this.$store.state.order.wishlist.length
  }

 },



}
</script>
<style>


.circle-active{
  fill:#F20D0D  !important;
}
.circle {
    fill: rgb(196 196 196);
}

</style>
