<template>
  <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M21.1738 16.4048H19.8961L19.4432 16.003C21.0282 14.3065 21.9824 12.1042 21.9824 9.70833C21.9824 4.36607 17.276 0.0357132 11.4698 0.0357132C5.66363 0.0357132 0.957214 4.36607 0.957214 9.70833C0.957214 15.0506 5.66363 19.381 11.4698 19.381C14.0737 19.381 16.4674 18.503 18.3111 17.0446L18.7478 17.4613V18.6369L26.8344 26.0625L29.2442 23.8452L21.1738 16.4048ZM11.4698 16.4048C7.44269 16.4048 4.19186 13.4137 4.19186 9.70833C4.19186 6.00298 7.44269 3.0119 11.4698 3.0119C15.497 3.0119 18.7478 6.00298 18.7478 9.70833C18.7478 13.4137 15.497 16.4048 11.4698 16.4048Z" fill="black"/>
</svg>
</template>
