<template>
  <svg width="60" height="60" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.39402 61.8206C5.28942 64.3886 6.81762 68.2154 11.3179 68.9054C32.1527 72.1013 60.9414 74.0549 78.93 68.0807C82.4487 66.912 84.0747 64.3392 84.5438 60.2827C84.9653 72.5055 86.2948 84.4354 77.7158 91.8245C70.1426 98.3472 55.7424 96.3994 44.7717 96.3994C9.96996 96.3994 4.28645 95.0419 4.39402 61.8206ZM85.8956 81.912C87.012 75.8787 86.698 69.4558 86.5875 63.1608C88.4413 64.8237 90.0548 69.3182 90.4046 72.5946C90.9599 77.813 89.1226 80.2104 85.8956 81.912V81.912ZM86.5952 49.0387C92.8292 55.5808 109.704 85.985 81.2528 91.3836C86.8831 81.7008 83.8829 85.9869 88.075 82.9732C99.0806 75.0589 86.6931 62.4863 86.6166 56.7185C86.5856 54.2959 86.5042 51.4042 86.5952 49.0387V49.0387ZM4.11491 46.5802L84.6649 46.5928C84.7734 51.753 83.3887 63.4079 78.9523 65.3548C60.64 73.3931 14.5836 68.1525 9.70831 65.6765C6.02977 63.8091 3.99475 53.0429 4.11491 46.5802ZM85.9489 44.7119L2.47431 44.707C1.65836 49.7742 1.76301 77.7121 3.84163 83.8782C4.87271 86.9385 7.30796 90.9398 8.93695 92.5145C10.4012 93.9293 14.6089 96.3083 17.4559 97.1621C23.0707 98.8453 65.1491 98.7136 69.8218 97.6758C74.3483 96.6708 76.2234 94.4924 79.6142 93.6803C87.6157 91.7625 93.8041 89.743 97.156 83.7988C104.053 71.5722 91.7439 50.9671 85.9489 44.7119V44.7119Z" fill="#131313"/>
  <path d="M43.9843 67.7601C45.294 67.7601 46.3556 66.7175 46.3556 65.4315C46.3556 64.1454 45.294 63.1028 43.9843 63.1028C42.6747 63.1028 41.613 64.1454 41.613 65.4315C41.613 66.7175 42.6747 67.7601 43.9843 67.7601Z" fill="#D20E0E"/>
  </svg>
</template>
