<template>
  <svg width="60" height="60" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M49.4555 62.3146C54.2532 64.0564 69.1881 63.8536 74.5893 62.5674L74.5205 80.578L49.4357 80.415L49.4555 62.3146V62.3146ZM49 51.398L75.6809 51.723L74.6335 59.4824C74.4658 59.5034 55.6058 63.1954 50.0404 58.2055C49.0303 57.2991 48.9837 52.6761 49 51.398V51.398ZM47.1021 83.5012L76.7935 83.4092C77.4891 78.7093 77.0685 71.2937 77.0405 66.3585C77.0068 59.8878 77.9481 55.4024 78.1322 48.5355L46.3157 48.6276L47.1021 83.5012Z" fill="#131313"/>
  <path d="M49.7898 28.6509L70.3053 28.6683C76.0723 28.3619 80.079 29.7052 80.9271 36.6373C82.7481 51.5361 82.2681 74.4084 82.2541 88.0826C82.2483 94.798 79.3846 98.7511 78.1042 98.0532L49.7898 98.6801L21.4754 98.0532C20.195 98.7511 17.3313 94.798 17.3255 88.0826C17.3115 74.4084 16.8304 51.5361 18.6525 36.6373C19.4995 29.7052 23.5061 28.3619 29.2743 28.6683L49.7898 28.6509V28.6509ZM90.0507 69.4266C90.0507 78.2379 91.7843 80.1533 84.152 82.6582C84.2138 72.9696 84.3792 61.0231 84.0413 51.0816C86.0382 55.1768 90.0507 60.7772 90.0507 69.4266V69.4266ZM84.1322 88.2295C93.8709 88.12 95.9074 78.9219 95.9074 70.8306C95.9074 59.1183 86.1582 46.3981 83.1826 36.8773C82.2588 30.1898 79.6887 26.8927 70.2936 27.0174L69.0482 27.0279L49.7898 27L30.5314 27.0279L29.286 27.0174C15.0921 26.8287 16.4715 34.447 15.5861 49.7698C15.1119 61.8246 15.4463 77.2278 15.4463 87.9405C15.4241 92.2827 16.8898 98.5484 19.5333 99.4991C19.4121 100.922 38.6693 100.249 49.6675 100.255L49.7898 100.253L49.9121 100.255C60.9091 100.249 80.1675 100.922 80.0452 99.4991C82.6328 98.5693 84.0914 92.5554 84.1322 88.2295Z" fill="black"/>
  <path d="M9.85791 70.1396C9.85791 78.9509 8.12312 80.8663 15.7542 83.3711L15.7764 88.9425C6.03536 88.8341 4 79.6347 4 71.5434C4 58.496 16.1026 44.1961 17.4564 34.4644L16.938 48.6618C16.4428 52.9806 9.85791 59.0575 9.85791 70.1396V70.1396Z" fill="black"/>
  <path d="M63.0242 59.2326C64.4179 59.2326 65.5477 57.9792 65.5477 56.433C65.5477 54.8868 64.4179 53.6334 63.0242 53.6334C61.6305 53.6334 60.5007 54.8868 60.5007 56.433C60.5007 57.9792 61.6305 59.2326 63.0242 59.2326Z" fill="black"/>
  <path d="M32.5285 47.8557H29.5425V83.3059H32.5285V47.8557Z" fill="black"/>
  </svg>

</template>
