<template>
  <svg width="60" height="60" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M49.7912 97.7894C35.437 97.894 20.9661 97.9188 8.41829 97.5129C5.35908 97.4146 3.34584 96.3787 2.98153 94.3728C4.92368 58.4685 7.41421 44.7585 16.7454 40.1491C25.037 38.0511 34.7871 38.3548 49.7912 39.0347V39.0422L49.8775 39.0384L50.2088 39.0534V39.0235C65.2116 38.3437 74.963 38.0411 83.2546 40.1379C92.5858 44.7473 95.0776 58.4574 97.0184 94.3616C96.6541 96.3675 94.6409 97.4034 91.5817 97.5018C78.912 97.9114 64.2824 97.8828 49.7912 97.7757V97.7894V97.7894ZM49.8394 36.7637C38.1738 36.3553 26.6758 35.8037 16.8571 34.8649C18.6685 17.2116 36.1047 4.96824 49.9676 4.03067L50.2088 4.03565V4.03322C64.0425 5.06293 81.3391 17.2751 83.1429 34.8537C73.2341 35.8012 61.6154 36.354 49.8394 36.7637V36.7637ZM49.8051 1.01125H49.7912C15.6741 0.940282 0.478314 56.8512 0.478314 82.2666C0.479583 103.397 -8.01003 99.7617 46.4908 99.7617L50.2088 99.7679V99.7555L53.5092 99.7505C108.01 99.7505 99.5204 103.386 99.5217 82.2552C99.5217 56.8399 84.3272 0.929096 50.2088 1.00007C50.073 1.00007 49.9397 1.00752 49.8051 1.01125V1.01125Z" fill="#131313"/>
  </svg>
</template>
