<template>
  <svg width="60" height="60" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.32888 49.0867C23.5273 70.387 78.2607 70.6529 97.4934 49.208C97.6403 55.3591 98.3777 93.4202 96.6182 95.9023C94.4523 98.9556 79.5796 97.6766 74.5878 97.6766H27.0966C22.4358 97.6766 7.46757 99.0537 4.6719 96.2905C1.96677 93.6184 3.3138 78.361 3.3138 73.7567C3.3138 65.5391 3.26248 57.3013 3.32888 49.0867ZM3.3138 35.9705C3.3138 31.4674 4.70508 29.7366 9.28741 29.7305L71.2902 29.7335C96.9613 29.7264 98.2922 27.2676 97.5095 41.2673C97.6997 61.0784 25.0645 74.7 4.65981 43.893C3.2655 41.787 3.3138 38.8843 3.3138 35.9705ZM36.9906 27.4951C34.4092 24.1992 34.2905 22.1255 38.4111 19.5151C42.5468 16.8965 58.7293 17.31 62.2603 19.2269C67.4573 22.0457 65.5258 25.4751 64.6938 27.4981L36.9906 27.4951V27.4951ZM29.0744 27.4972C23.1088 27.211 16.6191 27.4739 10.5811 27.4354C4.1568 27.395 1.07545 29.4707 1 35.9423L1.00501 92.3142C1.26053 99.452 5.25437 100.028 11.9091 99.999L87.1226 99.9879C102.635 100.035 99.7962 97.1024 99.7962 75.0822C99.7962 62.4797 99.7861 49.8823 99.8163 37.2829C99.8465 23.8069 91.5671 28.0987 71.9501 27.3849C65.9343 14.7369 64.8548 12.998 50.8422 13C30.6417 13.004 35.8408 18.5576 29.0744 27.4972V27.4972Z" fill="#131313"/>
  <path d="M50.1125 72.1614C51.7512 72.1614 53.0797 71.4155 53.0797 70.4955C53.0797 69.5754 51.7512 68.8295 50.1125 68.8295C48.4737 68.8295 47.1453 69.5754 47.1453 70.4955C47.1453 71.4155 48.4737 72.1614 50.1125 72.1614Z" fill="#D20E0E"/>
  </svg>
</template>
